@page "/"

<PageTitle>Home</PageTitle>

<div class="text-container">
    <h3>Welcome to my pet project</h3>
    <h1 class="logo">Blazor and Morty</h1>
    <p class="about">This is a rick and morty character wiki using  
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a> 
        with GraphQ.Client
        and 
        <a href="https://rickandmortyapi.com/">The Rick and Morty API</a></p>
    <p class="links">My links:</p>
    <a href="https://github.com/The-Katsu">
        Github
    </a>
    <br/>
    <a href="https://github.com/The-Katsu/BlazorAndMorty">
                    Source code
             </a>
</div>