<section class="wrapper">
    @foreach (var character in Characters)
    {
        <button class="card-btn" @onclick="@(() => OnClick.InvokeAsync(character.Id))">
            <div class="card-content">
                <img class="card-img" src="@character.Image" alt="character"/>
                <h5 class="card-name default-font">@character.Name</h5>
            </div>
        </button>
    }
</section>